<div class="container">
  <div class="row">
    <div class="col-sm">
      顧客一覧
    </div>
  </div>
  <div class="card shadow-lg">
    <table class="table">
      <tr>
        <th>会員ID</th>
        <th>写真</th>
        <th>氏名</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= attachment_image_tag customer, :profile_image, fallback: "no-image.jpg", size: "40x40", style: "border-radius: 50%;" %></td>
          <td><%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %></td>
          <td>
            <% if customer.status %>
              有効
            <% else %>
              退会
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
