<div class="container">
  <div class="row">
    <div class="col-sm">
      商品一覧
    </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-4 text-center">
        <%= link_to attachment_image_tag(item, :image, fallback: "no-image.jpg", size: "300x300"), item_path(item) %><br />
        <%= item.name %><br />
        <%= item.info %><br />
        <%= item.price %>
      </div>
    <% end %>
  </div>
</div>
